.news-card {
    width: 300px;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 10px;
    border-top: none;
    cursor: pointer;
}

.news-card img {
    width: 300px;
    height: 200px;
}

.news-card p {
    font-family: 'Roboto';
    font-size: .8rem;
    line-height: 1.2rem;
    letter-spacing: .2px;
    color: black;
    margin-top: 10px;
    padding: 3px 10px;
    height: 120px;
    overflow: hidden;
}

.news-card-info .date {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2px;
    font-family: 'Roboto';
    font-size: .8rem;
    line-height: 1.2rem;
    letter-spacing: .2px;
    color: rgba(0, 0, 0, .5);
    padding: 3px 10px;
}